#stepOverview {
  text-transform: uppercase;
  color: var(--white);
  margin: var(--margin);
  flex: 2;
  border-radius: var(--borderRadius);

  background: url(src/assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  background-position: bottom;
}

.stepNum {
  display: flex;
  margin: 2.2rem;
  gap: 1rem;
}

.num {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--white);
  font-weight: bold;
}

.stepDetails :first-child {
  color: var(--coolGray);
  font-weight: medium;
  letter-spacing: -1px;
  font-size: 0.9rem;
}

.stepDetails :last-child {
  letter-spacing: 1px;
  color: var(--white);
  font-weight: bold;
}

#stepOverview .active {
  background-color: var(--pastelBlue);
  color: var(--marineBlue);
  border: 1px solid var(--coolGray);
}
