@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --darkBlue: hsl(213, 95%, 8%);
  --marineBlue: hsl(213, 96%, 18%);
  --purplishBlue: hsl(243, 100%, 62%);
  --pastelBlue: hsl(228, 100%, 84%);
  --lightBlue: hsl(206, 94%, 87%);
  --strawberryRed: hsl(354, 84%, 57%);

  --coolGray: hsl(231, 11%, 63%);
  --lightGray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  --font: 'Ubuntu';
  --fontLight: 400;
  --fontMedium: 500;
  --fontBold: 700;

  --margin: 1rem;
  --borderRadius: 1rem;
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: var(--magnolia);
  font-family: var(--font);
}
